@import "tailwindcss";

@theme {
  --color-rose-50: #fff1f2;
  --color-rose-100: #ffe4e6;
  --color-rose-500: #f43f5e;
  --color-rose-600: #e11d48;
  --color-blue-50: #eff6ff;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #eff6ff;
}
